* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    max-width: 1280px;
    margin: 0 auto;
}
.header_logo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}
.header_logo a {
    text-decoration: none;
}
.header_span {
    color: #4BCAFF;
}
.header_nav {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}
.header_nav_list {
    list-style: none;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}
.header_nav_list li {
    padding: 20px 40px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.header_nav_list li:hover {
    background-color: #222F3A;
}
.header_nav_list a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 48px;
}
.aside {
    min-width: 344px;
    border: 1px solid #b3b3b6;
}
.aside_list {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding-left: 0px;
}
.aside_list li {
    padding-left: 44px;
    padding-top: 27px;
    padding-bottom: 27px;
}
.aside_list li:hover {
    padding-left: 80px;
    background-color: #DBDBDB;
}
.aside_list a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
}
.aside_list a:hover {
    color: black;
}
.content {
    max-width: 885px;
}
.content_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.footer {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 51px;
    margin-bottom: 30px;
    display: flex;
    background: #91979c;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
}
.footer_nav_list {
    min-width: 875px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer_nav_list a {
    padding-bottom: 13px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer_nav_list a:hover {
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}
.footer_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}